{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DwellingDuo</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"> <!-- Ensure correct path -->
</head>
<body>
    <header>
        <h1 class="site-title">
            <a href="{% url 'home' %}" class="title-dwellingduo">DwellingDuo</a>
        </h1>
        <nav class="navbar">
            <div class="navbar-left">
                <a href="{% url 'home' %}" class="menu-item">Home</a>
                <a href="{% url 'properties:property_list' %}" class="menu-item">View Properties</a>
                <a href="{% url 'about' %}" class="menu-item">About</a>
            </div>
            <div class="navbar-right">
                {% if user.is_authenticated %}
                    <a href="{% url 'accounts:logout' %}" class="menu-item">Logout</a>
                {% else %}
                    <a href="{% url 'accounts:register' %}" class="menu-item">Register</a>
                    <a href="{% url 'accounts:login' %}" class="menu-item">Login</a>
                {% endif %}
            </div>
        </nav>
    </header>

    <div class="cover-image"></div> <!-- Background image section -->

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 DwellingDuo. All rights reserved.</p>
    </footer>
</body>
</html>
